#hcss{
    color: rgb(0, 0, 0);
    text-align: center; /* 位置居中 */
    top: 40% ; /* 距离浏览器上边距离 */
    left: 40% ; /* 距离浏览器左边距离 */
}
#hscss{
    color: rgb(0, 0, 0);
    text-align: center; /* 位置居中 */
}
body{
    background-color: #FFFFEE;
}
